@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: linear-gradient(107.56deg, #1b1b1b 0%, #000000 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    background: linear-gradient(107.56deg, #1b1b1b 0%, #000000 100%);
  }
}

body {
  background: linear-gradient(107.56deg, #1b1b1b 0%, #000000 100%);
}

.Scroll {
  overflow: auto;
}

.Scroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.Scroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.Scroll::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.Scroll::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.LandingPage {
  max-width: 1720px;
  min-width: 380px;
  margin: auto;
  height: 100vh;
  padding: 20px 0px 20px 0px;
  background-color: transparent;
}
